// PRIMARY COLOURS
$primary-white: #ffffff;
$primary-pink: #faced3;
$primary-red: #ef3742;
$primary-navy: #2b3574;
$primary-blue: #b1bad9;

// SECONDARY COLOURS
$secondary-pink: #f9e8ea;
$secondary-blue: #0096d9;
$secondary-hotPink: #ee589f;
$secondary-lightGrey: #f2f2f2;
$secondary-grey: #cecece;

// INTERFACE COLOURS
$background-light-blue: #f3f5f9;
$interface-light-grey: #e2e2e2;
$accent-colour: $secondary-blue;
$typography-black: #252525;
$typography-label: #626262;

// INPUT COLOURS
$input-placeholder: #8d939e;
$input-border: #e8e8ea;
$input-value: #252525;
