@font-face {
  font-family: "pdu-regular";
  src: url("../../assets/fonts/pdu-regular.woff") format("woff"),
    url("../../assets/fonts/pdu-regular.woff2") format("woff2"),
    url("../../assets/fonts/pdu-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "palmer-lake";
  src: url("../../assets/fonts/palmer-lake.woff") format("woff"),
    url("../../assets/fonts/palmer-lake.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
